body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: #031cd7;
}
.orange-highLight{
    color: orange;
}
.half-width{
    /* border: 1px solid red; */
    width: 40%;
    float: left;
    margin-top: 5%;
    margin-left: 5%;
    padding-left: 2%;
    padding-right:2%;
    height: 500px;

}
.four-part img{
    height: 300px; width:100%;
    margin-top: 15%;
    margin-bottom: 5%;
}
.four-part{
    width: 20%;
    float: left;
    margin-left: 2%;
    padding-left: 1%;
    padding-right:1%;
    background-color: #d4d8f7;
    height: 500px;
}

section img{
    height: 500px;
}
.top-banner{
    /* border: 1px solid red; */
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    margin-bottom: 50px;
}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 10%;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(50deg ,lightSalmon,tomato);

}
p{
    color: dimgrey;
}
.education{
    /* border: 1px solid red; */
    background-image: url("images/dream-bg.png");
    background-repeat:no-repeat;
    background-position: right;
    /* padding: 10px; */
    /* margin-left: 50px 0px; */
}
.expreience{
    background-image: url("images/orange.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    height: 1200px;
}
.single-club-card{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 550px;
    margin-bottom: 1%;
    margin-top: 1%;
    width: 40%;
    background-color: white;
}
.club-logo{
    height: 20%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sportsClub{
    border-left: 5px solid;
    border-image: linear-gradient(blue,skyblue);
    border-image-slice: 1;
}
#roboticsClub{
    border-left: 5px solid;
    border-image: linear-gradient(red,rgb(250, 188, 1));
    border-image-slice: 1;
}
#programmingClub{
    border-left: 5px solid;
    border-image: linear-gradient(black,skyblue);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    background-color: #333;
            color: #fff;
            padding: 20px;
            margin-bottom: 1%;
            margin-top: 1%;
            text-align: center;
}
.contact-details {
    font-size: 16px;
    margin-top: 10px;
}
.hover:hover{
    background-color: azure;
    size: 10px;
    color: #333;
}
.achivement{
    background-image: url(images/latest-work-bg.png);
    height: 500px;
    margin-top: 10%;
    margin-bottom: 10%;
}
.research{
    background-image: url(images/latest-work-bg.png);
    height: 500px;
    margin-top: 10%;
    margin-bottom: 10%;
}
.research img{
    height: 250px; 
    width:100%;
    margin-top: 15%;
    margin-bottom: 5%;
}
menu{
    margin: 0;
    background-color: #333;
}
menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #18e141;
  }